asgiref==3.11.1
colorama==0.4.6
Django==5.2.11
django-cors-headers==4.9.0
djangorestframework==3.16.1
et_xmlfile==2.0.0
numpy==2.2.6
openpyxl==3.1.5
pandas==2.3.3
pillow==12.1.1
psycopg2-binary==2.9.11
python-dateutil==2.9.0.post0
pytz==2025.2
qrcode==8.2
six==1.17.0
sqlparse==0.5.5
typing_extensions==4.15.0
tzdata==2025.3
gunicorn==21.2.0
dj-database-url==1.2.0
whitenoise==6.5.0
django-grappelli==4.0.3
resend==1.0.0
